apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "application_key_id": "0000000000000000000000001",
      "application_key": "IEjB0QjH70LPEMTUCOZVoTof7IusZhs"
    }
